.course {
  @apply text-white-100 w-80;

  .name {
    @apply bg-black-300 py-2.5 px-8 flex flex-col justify-center mb-2;
  }

  ul {
    -webkit-transition: max-height 0.6s;
    -moz-transition: max-height 0.6s;
    -ms-transition: max-height 0.6s;
    -o-transition: max-height 0.6s;

    transition: max-height 0.6s;
    overflow: hidden;
    max-height: 0;

    &.isShow {
      max-height: 900px;
      @apply h-auto visible;
    }
  }
}

.module {
  @apply bg-black-300 py-2.5 px-8 flex justify-between items-center;
  @apply cursor-pointer mb-1;

  -webkit-transition: margin-bottom 0.2s;
  -moz-transition: margin-bottom 0.2s;
  -ms-transition: margin-bottom 0.2s;
  -o-transition: margin-bottom 0.2s;

  transition: margin-bottom 0.2s;

  .arrow {
    @apply transform -rotate-180 text-gray duration-400;
  }

  &.isShow {
    @apply mb-0;
    .arrow {
      @apply rotate-0;
    }
  }

  .containerInfo {
    @apply flex;

    .circleProgress {
      @apply mr-4;
    }
    .information {
      @apply flex flex-col items-start p-0;

      span {
        @apply text-3xs text-gray;
      }
    }
  }
}

.lesson {
  @apply bg-black-100 py-2.5 pl-12 pr-8 grid grid-flow-col;
  @pply grid-cols-1 grid-rows-1 items-end justify-start;
  grid-template-columns: 32px 100%;

  &.active {
    @apply bg-purple-100;

    &:hover {
      @apply bg-purple-100;
    }
  }

  &:hover {
    background-color: #29323b;
  }

  .buttonCheck {
    @apply mr-4;
    margin-top: 4px;
  }

  .fakeRoute {
    @apply h-full w-full focus:outline-none text-left cursor-pointer;
  }
}
