@define-mixin placeholder-default {
  @apply absolute ml-5 text-gray text-xs;
}

@define-mixin input-default {
  @apply h-13 flex items-center bg-black-300 rounded-lg;
  @apply transition duration-500 border-2 border-black-300 relative;

  p {
    @mixin placeholder-default;

    &.contains-text {
      @apply top-0.5 text-4xs;
    }
  }

  &.is-icon {
    p {
      @apply ml-16;
    }
  }

  &:active {
    p {
      @apply top-0.5 text-4xs;
    }

    input {
      @apply mt-3;
    }
  }

  &:focus-within {
    @apply border-blue-100;

    svg {
      @apply fill-current text-blue-100;
    }

    p:not([class*='contains-text']) {
      @mixin placeholder-default;
      @apply top-0.5 text-4xs;
      @apply animate-animaPlaceholderTop;
    }

    input:not([class*='contains-text']) {
      @apply mt-3;
      @apply animate-animaPlaceholderTop;
    }

    &.is-icon {
      p {
        @apply ml-16;
      }
    }
  }

  input {
    @apply h-13 w-full mx-5 text-xs text-white-100 border-0 bg-transparent mt-3;

    &::placeholder {
      @apply text-gray;
    }
  }

  svg {
    @apply transition duration-500;
    fill: #a0a2a4;
  }
}

@define-mixin input-error {
  @apply border-red-100;

  svg {
    @apply fill-current text-red-100;
  }
}
